In [1]:
import numpy as np
import pandas as pd

In [2]:
temp_df= pd.read_csv("IMDB Dataset.csv")

In [3]:
df= temp_df.iloc[:5000]

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review'][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

In [6]:
df["sentiment"].value_counts()

sentiment
negative    2532
positive    2468
Name: count, dtype: int64

In [7]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [8]:
df.duplicated().sum()

3

In [9]:
df.drop_duplicates(inplace=True)

C:\Users\Akash Pal\AppData\Local\Temp\ipykernel_6116\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
# Basic Preprocessing
# Remove HTML Tags
# Lowercase
# Remove Stopwords
# Stemming

In [12]:
import re

In [13]:
def remove_tags(raw_text):
    cleaned_text= re.sub(re.compile('<.*?>'),"",raw_text)
    return cleaned_text

In [14]:
df["review"]= df["review"].apply(remove_tags)

C:\Users\Akash Pal\AppData\Local\Temp\ipykernel_6116\384466505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]= df["review"].apply(remove_tags)

In [15]:
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. The filming tec...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
4995  An interesting slasher film with multiple susp...  negative
4996  i watched this series when it first came out i...  positive
4997  Once again Jet Li brings his charismatic prese...  positive
4998  I rented this movie, after hearing Chris Gore ...  negative
4999  This was a big disappointment for me. I think ...  negative

[4997 rows x 2 columns]

In [16]:
df["review"]= df["review"].apply(lambda x:x.lower())

C:\Users\Akash Pal\AppData\Local\Temp\ipykernel_6116\1943310816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]= df["review"].apply(lambda x:x.lower())

In [17]:
import nltk

In [18]:
from nltk.corpus import stopwords
sw_list=stopwords.words('english')
df["review"]= df["review"].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

C:\Users\Akash Pal\AppData\Local\Temp\ipykernel_6116\4219460245.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]= df["review"].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

In [19]:
df

                                                 review sentiment
0     one reviewers mentioned watching 1 oz episode ...  positive
1     wonderful little production. filming technique...  positive
2     thought wonderful way spend time hot summer we...  positive
3     basically there's family little boy (jake) thi...  negative
4     petter mattei's "love time money" visually stu...  positive
...                                                 ...       ...
4995  interesting slasher film multiple suspects.inc...  negative
4996  watched series first came 70s.i 14 years old w...  positive
4997  jet li brings charismatic presence movie scree...  positive
4998  rented movie, hearing chris gore saying someth...  negative
4999  big disappointment me. think worst mastroianni...  negative

[4997 rows x 2 columns]

In [20]:
from nltk.stem.porter import PorterStemmer

ps=PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split() ])

In [21]:
df["review"]= df["review"].apply(stem_words)

C:\Users\Akash Pal\AppData\Local\Temp\ipykernel_6116\1530915637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]= df["review"].apply(stem_words)

In [22]:
df

                                                 review sentiment
0     one review mention watch 1 oz episod hooked. r...  positive
1     wonder littl production. film techniqu unassum...  positive
2     thought wonder way spend time hot summer weeke...  positive
3     basic there' famili littl boy (jake) think the...  negative
4     petter mattei' "love time money" visual stun f...  positive
...                                                 ...       ...
4995  interest slasher film multipl suspects.includ ...  negative
4996  watch seri first came 70s.i 14 year old watch ...  positive
4997  jet li bring charismat presenc movi screen fil...  positive
4998  rent movie, hear chri gore say someth effect "...  negative
4999  big disappoint me. think worst mastroianni-mov...  negative

[4997 rows x 2 columns]

In [23]:
X= df.iloc[:,0:1]
y= df['sentiment']

In [24]:
X

                                                 review
0     one review mention watch 1 oz episod hooked. r...
1     wonder littl production. film techniqu unassum...
2     thought wonder way spend time hot summer weeke...
3     basic there' famili littl boy (jake) think the...
4     petter mattei' "love time money" visual stun f...
...                                                 ...
4995  interest slasher film multipl suspects.includ ...
4996  watch seri first came 70s.i 14 year old watch ...
4997  jet li bring charismat presenc movi screen fil...
4998  rent movie, hear chri gore say someth effect "...
4999  big disappoint me. think worst mastroianni-mov...

[4997 rows x 1 columns]

In [25]:
y

0       positive
1       positive
2       positive
3       negative
4       positive
          ...
4995    negative
4996    positive
4997    positive
4998    negative
4999    negative
Name: sentiment, Length: 4997, dtype: object

In [26]:
import sklearn

In [27]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y= encoder.fit_transform(y)

In [28]:
y

array([1, 1, 1, ..., 1, 0, 0])

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=1)

In [30]:
X_train.shape

(3997, 1)

In [31]:
# Using TF-IDF

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf= TfidfVectorizer()

In [33]:
X_train_tfidf= tfidf.fit_transform(X_train["review"]).toarray()
X_test_tfidf= tfidf.transform(X_test["review"])

In [34]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [35]:
# Algorithm 2 (Random Forest)
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

rf.fit(X_train_tfidf,y_train)
y_pred= rf.predict(X_test_tfidf)
accuracy_score(y_test,y_pred)

0.819

In [36]:
def predict_sentiment(text):
    text = remove_tags(text)
    text = text.lower()
    text_tfidf = t.transform([text]).toarray()
    prediction = rf.predict(text_bow)
    sentiment = encoder.inverse_transform(prediction)[0]
    return sentiment

# Example usage
predict_sentiment("big disappoint me. think worst mastroianni-movie")

NameError: name 'cv' is not defined